.menu{
    background: rgb(31, 30, 30);
    width: 100%;
    height: 130px;
    line-height: 130px;
}
.m-left{
    float: left;
}
.logo{
    margin: 0;padding: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}

.m-right{
    float: right;
}

.m-link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;margin: 0 10px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}
.m-link-center{
    margin: 0;padding: 0;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    letter-spacing: 1px;
    border: 3px rgb(31, 30, 30) solid;
    border-radius: 10px;
    background: rgb(31, 30, 30);
}
.m-link i{
    margin-right: 2px;
}
.m-link-center:hover{
    border-bottom: 2px solid white;
}
.m-link:hover{
    border-bottom: 2px solid white;
}
.m-nav-toggle{
    width: 50px;
    height: 66px;
    display: none;
    align-items: center;
    float: right;
    cursor: pointer;
}
span.m-toggle-icons, span.m-toggle-icons::before, span.m-toggle-icons::after{
 content: "";   
 display: block;
 width: 100%;
 height: 2px;
 background: white;
 position: relative;
 margin-top: 10px;
 
}
span.m-toggle-icons::before{top: 10px;}
span.m-toggle-icons::after{top: -12px;}

.m-right.is-open{
    transform: translateX(0);
}

.m-nav-toggle.is-open span.m-nav-toggle-icons{
    transform: translateX(0);
}

.m-banniere{
    width: 100%;
    height: 500px;
    top: 5;left: 0;
    background: url('../image/banniere.jpg') center no-repeat;
    background-size: cover;
}

p{
    font-size: 20px;
}
    .div-categoryContainer{
    display : flex;
    flex: 80px;
    vertical-align: middle;  
    width: 1000px    ;
    padding: 12px ; 
    margin: auto;
    margin-right: 600px;
   }
   .picture-left {
     width:200px;
     height:200px;
     margin-top: 60px;
     margin-left: 100px;
     margin-right: 80px;
   }
   .paragraph-right {
     flex : 6;
     margin-top : 50px;
     max-width: 800px;
     text-align: justify;
     font-weight: 600;
     line-height: 30px;
    
   }

   .personal-information{ 
     font-weight: 600;
     line-height: 30px;
     display : block;
    }
    .ul-information{
        list-style: none;
        margin-right: 120px;
        text-shadow: black;
        font-size: 20px;
        line-height: 40px;
    }
    .gmail{
        color: black;
    }
    h2{
        font-family: 'Roboto';
        font-size: 30px;
    }
    .titre-information{
        margin-right: 100px;
        
    }
    .skill-container{
        background: rgb(228, 228, 228);
        width: 100%;
        height: 450px;
    }
    .skill-image{
        margin-left: 200px;
        margin-top: 50px;
        font-family: 'Roboto';
        font-size: 25px;
       
    }
    .image_1{
        width:275px;
        height:275px;
        margin-top: 60px;
        margin-left: 100px;
        margin-right: 80px;
    }
    .image_2{
        width:275px;
        height:275x;
        margin-top: 60px;
        margin-left: 100px;
        margin-right: 80px;
    }
    .image_3{
        width:275px;
        height:275px;
        margin-top: 60px;
        margin-left: 100px;
        margin-right: 80px;
    }
    .php{
        position:relative;
        width:300px;
        z-index:100;
    }

@media only screen and (max-width: 910px){
    .m-right{
        position: absolute;
        top: 66;right: 0;
        width: 200px;
        height: 100%;
        background: rgb(31, 30, 30);
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .m-link{
        display: block;
        text-align: center;
        padding: 0; margin: 0 30px;
        height: 35px;
        margin-top: 90px;
    }
    .m-nav-toggle{
        display: flex;
    }
}

